@using RecipeBrowser.Core.Entities
@using RecipeBrowser.WebUI.Helpers
@model List<Recipe>

@{
    ViewData["Title"] = "Рецепти";
}
<div class="container-fluid px-5 py-3">

    <a href="/Recipe/create" class="btn btn-success float-end">Додати</a>
    <a href="/Recipe/index?viewtype=@ViewType.Table" class="btn btn-secondary float-end mx-3">Таблиця</a>

    <h2 class="mt-3 mb-3">@ViewData["Title"]</h2>
    <div class="row d-flex flex-wrap justify-content-evenly gap-2">
        @foreach (var m in Model)
        {
            <div class="col-md-5 card-container">
                <div class="card mb-5 h-100 d-flex flex-column justify-content-between">
                    <img class="card-img-top" style="width: 100%; height:auto; max-width: 100%;" src="@m.ImagePath" alt="Card image cap">
                    <div class="card-body d-flex flex-column gap-2 justify-content-between" style="max-height: 400px;">
                        <h3 class="card-title">@m.Title</h3>
                        <h6 class="card-subtitle">Тривалість: @m.CookDuration</h6>
                        <h6 class="card-subtitle">Спосіб: @m.Type.Title</h6>
                        <h6 class="card-subtitle">Складність: @m.Difficulty.Title</h6>
                        <h6 class="card-subtitle">Автор: @m.Creator.Email</h6>
                        <div class="text-center d-flex mt-2 justify-content-evenly">
                            <a href="/Recipe/details/@m.Id" class="btn btn-warning">Детальніше</a>
                            <a href="/Recipe/edit/@m.Id" class="btn btn-warning">Редагувати</a>
                            <a href="#" data-id="@m.Id" data-name="@m.Title" class="btn btn-danger btn-remove">Видалити</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Modal for delete -->
<div class="modal" tabindex="-1" id="modalQuestion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Видалення</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Чи справді Ви бажаєте видалити рецепт <strong class="selectedName">-</strong>?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn-primary btn btn-remove-approve w-25">Так</a>
                <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">Скасувати</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            let selected_id = "";
            let selected_name = "";
            let cardContainer = null;

            $(".btn-remove").click(function () {
                cardContainer = $(this).closest(".card-container");
                selected_id = $(this).attr("data-id");
                selected_name = $(this).attr("data-name");
                $(".selectedName").html(selected_name);
                $("#modalQuestion").modal("show");
            });

            $(".btn-remove-approve").click(function () {
                $.ajax({
                    url: '/Recipe/delete',
                    type: 'DELETE',
                    data: { id: selected_id },
                    success: function (result) {
                        if (result.success) {
                            cardContainer.fadeOut();
                        } else {
                            alert(result.message);
                        }
                        $("#modalQuestion").modal("hide");
                    },
                    error: function () {
                        alert('Помилка при видаленні запису.');
                        $("#modalQuestion").modal("hide");
                    }
                });
            });
        });
    </script>
}
